src/main/java/proxy/BanqueWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.edu.abenali/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.edu.abenali/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.edu.abenali/" schemaLocation="http://localhost:9191/?xsd=1"/>
</xsd:schema>
</types>
<message name="convert">
<part name="parameters" element="tns:convert"/>
</message>
<message name="convertResponse">
<part name="parameters" element="tns:convertResponse"/>
</message>
<message name="getComptes">
<part name="parameters" element="tns:getComptes"/>
</message>
<message name="getComptesResponse">
<part name="parameters" element="tns:getComptesResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<portType name="BanqueService">
<operation name="convert">
<input wsam:Action="http://ws.edu.abenali/BanqueService/convertRequest" message="tns:convert"/>
<output wsam:Action="http://ws.edu.abenali/BanqueService/convertResponse" message="tns:convertResponse"/>
</operation>
<operation name="getComptes">
<input wsam:Action="http://ws.edu.abenali/BanqueService/getComptesRequest" message="tns:getComptes"/>
<output wsam:Action="http://ws.edu.abenali/BanqueService/getComptesResponse" message="tns:getComptesResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://ws.edu.abenali/BanqueService/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://ws.edu.abenali/BanqueService/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="convert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:9191/"/>
</port>
</service>
</definitions>